In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load datasets
df1 = pd.read_csv('C:/Users/yvonn/OneDrive/Desktop/SUNWAY/202409-S4/Business Intelligence/Assignment/SocialInclusiondata.csv')
df2 = pd.read_csv('C:/Users/yvonn/OneDrive/Desktop/SUNWAY/202409-S4/Business Intelligence/Assignment/Happinessdata.csv')

In [3]:
df1.head()

,crossid,Country.x,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education
0,crossid,country,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan_1980,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan_1981,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan_1982,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan_1983,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Drop the row
df1 = df1.iloc[1:].reset_index(drop=True)
df1.head()

,crossid,Country.x,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education
0,Afghanistan_1980,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan_1981,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan_1982,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan_1983,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan_1984,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Rename the 'Country.x' column to 'Country name'
df1 = df1.rename(columns={'Country.x': 'Country name'})
df1.head()

,crossid,Country name,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education
0,Afghanistan_1980,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan_1981,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan_1982,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan_1983,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan_1984,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.head()

            crossid Country name  year  Life Ladder
0  Afghanistan_2008  Afghanistan  2008        3.724
1  Afghanistan_2009  Afghanistan  2009        4.402
2  Afghanistan_2010  Afghanistan  2010        4.758
3  Afghanistan_2011  Afghanistan  2011        3.832
4  Afghanistan_2012  Afghanistan  2012        3.783

In [7]:
oricountries1 = df1['Country name'].unique()
print(oricountries1)
print(len(oricountries1))

oricountries2 = df2['Country name'].unique()
print(oricountries2)
print(len(oricountries2))

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' "CÃ´te d'Ivoire"
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Democratic Rep.'
 'Congo, Rep.' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao'
 'Cyprus' 'Czech Republic' 'Czechia' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Asia and Pacific' 'Ecuador' 'Egypt'
 'Egypt, Arab Rep.' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Eurasia' 'Europe and North America'
 'Faroe Islands' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon'
 'Gambia, The' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR' 'Hong Kong SAR, China'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq'
 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' "Korea, Dem. People's Rep." 'Korea, Rep.'
 'Kosovo' 'Kuwait' 'Kyrgyz Republic' 'Lao PDR'
 'Latin America and the Caribbean' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao SAR, China'
 'Macedonia, FYR' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Middle East and North Africa' 'Moldova' 'Monaco'
 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Northern Mariana Islands' 'Norway'
 'Oman' 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovak Republic'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Asia'
 'South Sudan' 'Spain' 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Martin (French part)' 'St. Vincent and the Grenadines'
 'Sub-Saharan Africa' 'Sudan' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Taiwan, China' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkiye' 'Turkmenistan' 'Turks and Caicos Islands'
 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Venezuela, RB' 'Viet Nam' 'Virgin Islands (U.S.)' 'West Bank and Gaza'
 'World' 'Yemen' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']
237
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo (Brazzaville)' 'Congo (Kinshasa)'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong S.A.R. of China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'Somaliland region' 'South Africa' 'South Korea' 'South Sudan' 'Spain'
 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan'
 'Türkiye' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen'
 'Zambia' 'Zimbabwe']
165

In [8]:
# Create a dictionary to map different country name variations to a standard format
country_name_corrections = {
    'Gambia, The': 'Gambia',
    "CÃ´te d'Ivoire": 'Ivory Coast',
    'Türkiye': 'Turkey',
    'Laos': 'Lao PDR',
    'Kyrgyzstan': 'Kyrgyz Republic',
    'Viet Nam': 'Vietnam',
    'Syrian Arab Republic': 'Syria',
    'Slovak Republic': 'Slovakia',
    'Bahamas, The': 'Bahamas',
    'Congo, Dem. Rep.': 'Congo (Kinshasa)',
    'Congo, Democratic Rep.': 'Congo (Kinshasa)',
    'Congo, Rep.': 'Congo (Brazzaville)',
    'Czech Republic': 'Czechia',
    'Egypt, Arab Rep.': 'Egypt',
    'Hong Kong SAR': 'Hong Kong S.A.R. of China',
    'Hong Kong SAR, China': 'Hong Kong S.A.R. of China',
    'Iran, Islamic Rep.': 'Iran',
    'Korea, Dem. People\'s Rep.': 'North Korea',
    'Korea, Rep.': 'South Korea',
    'Macao SAR, China': 'Macau',
    'Macedonia, FYR': 'North Macedonia',
    'Russia': 'Russian Federation',
    'Taiwan, China': 'Taiwan Province of China',
    'United States': 'United States of America',
    'Venezuela, RB': 'Venezuela',
    'Yemen, Rep.': 'Yemen'
}

# Replace country names in both datasets based on the mapping
df1['Country name'] = df1['Country name'].replace(country_name_corrections)
df2['Country name'] = df2['Country name'].replace(country_name_corrections)

# Replace the crossid based on corrected name
df1['crossid'] = df1['Country name'] + '_' + df1['year'].astype(str)
df2['crossid'] = df2['Country name'] + '_' + df2['year'].astype(str)

In [9]:
# Merge the datasets on 'crossid' to include 'Life Ladder' from df2 in df1
merged_df = pd.merge(df1, df2[['crossid', 'Life Ladder']], 
                     on=['crossid'], how='left')

In [10]:
# check the merge
merged_df.head(10)

,crossid,Country name,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education,Life Ladder
0,Afghanistan_1980,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan_1981,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan_1982,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan_1983,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan_1984,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan_1985,Afghanistan,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan_1986,Afghanistan,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan_1987,Afghanistan,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan_1988,Afghanistan,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan_1989,Afghanistan,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
merged_df.tail(10)

,crossid,Country name,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education,Life Ladder
9780,Zimbabwe_2014,Zimbabwe,2014,54.240002,59.720001,49.910000,44.759998,80.290001,42.439999,34.549999,59.099998,58.060001,56.970001,21.230000,27.510000,4.184
9781,Zimbabwe_2015,Zimbabwe,2015,56.930000,60.680000,49.990002,45.009998,80.889999,56.189999,35.509998,59.080002,56.570000,57.099998,21.190001,28.100000,3.703
9782,Zimbabwe_2016,Zimbabwe,2016,58.810001,61.290001,48.000000,45.369999,79.120003,52.220001,37.000000,59.240002,56.570000,57.880001,21.860001,28.450001,3.735
9783,Zimbabwe_2017,Zimbabwe,2017,59.970001,62.459999,48.680000,45.529999,76.769997,51.220001,37.520000,59.000000,54.599998,57.830002,22.440001,29.330000,3.638
9784,Zimbabwe_2018,Zimbabwe,2018,61.090000,62.570000,51.549999,45.910000,76.980003,51.340000,37.950001,59.119999,57.099998,56.520000,24.090000,29.900000,3.616
9785,Zimbabwe_2019,Zimbabwe,2019,61.820000,62.580002,52.150002,45.150002,73.660004,53.790001,37.919998,59.529999,56.400002,57.049999,25.590000,30.990000,2.694
9786,Zimbabwe_2020,Zimbabwe,2020,62.480000,60.419998,51.820000,43.099998,75.459999,50.619999,37.060001,59.950001,55.340000,57.470001,25.770000,30.660000,3.160
9787,Zimbabwe_2021,Zimbabwe,2021,62.959999,61.000000,51.060001,43.320000,78.879997,56.080002,37.430000,60.200001,56.930000,57.139999,29.770000,31.920000,3.155
9788,Zimbabwe_2022,Zimbabwe,2022,63.230000,61.799999,52.410000,42.970001,79.559998,56.849998,37.639999,60.380001,56.200001,55.290001,27.240000,32.450001,3.296
9789,Zimbabwe_2023,Zimbabwe,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.572

In [12]:
# Convert the 'year' column to integer (if it contains non-numeric values, can use errors='coerce' to handle them)
merged_df['year'] = pd.to_numeric(merged_df['year'], errors='coerce')

In [13]:
# Filter the merged dataset to include only rows where 'year' is between 2011 and 2022
filtered_df = merged_df[(merged_df['year'] >= 2011) & (merged_df['year'] <= 2022)]

In [14]:
# first few rows of the filtered data to verify
filtered_df.head(10)

,crossid,Country name,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education,Life Ladder
31,Afghanistan_2011,Afghanistan,2011,50.349998,49.610001,29.059999,33.910000,27.670000,24.850000,18.209999,31.500000,44.389999,30.150000,30.020000,21.719999,3.832
32,Afghanistan_2012,Afghanistan,2012,52.220001,51.340000,30.410000,33.450001,27.740000,24.340000,20.209999,31.299999,44.389999,30.540001,29.709999,22.230000,3.783
33,Afghanistan_2013,Afghanistan,2013,53.759998,54.209999,32.810001,34.410000,27.860001,30.090000,21.900000,31.080000,44.410000,30.750000,28.480000,22.379999,3.572
34,Afghanistan_2014,Afghanistan,2014,54.759998,56.410000,42.740002,34.840000,27.660000,31.219999,23.090000,30.170000,46.130001,31.320000,27.830000,21.950001,3.131
35,Afghanistan_2015,Afghanistan,2015,55.009998,56.950001,45.740002,36.450001,28.590000,32.130001,23.129999,30.020000,46.180000,32.779999,28.730000,23.280001,3.983
36,Afghanistan_2016,Afghanistan,2016,56.570000,56.580002,52.270000,36.919998,29.469999,33.459999,23.980000,30.410000,46.259998,33.139999,28.740000,23.020000,4.220
37,Afghanistan_2017,Afghanistan,2017,58.070000,56.660000,49.119999,34.720001,28.980000,41.520000,23.240000,30.840000,44.139999,33.470001,28.959999,24.719999,2.662
38,Afghanistan_2018,Afghanistan,2018,59.619999,56.310001,57.759998,31.580000,29.340000,44.320000,23.760000,29.920000,46.560001,33.900002,27.730000,25.389999,2.694
39,Afghanistan_2019,Afghanistan,2019,60.060001,55.820000,58.869999,29.150000,31.010000,43.410000,23.639999,31.520000,49.599998,35.360001,26.360001,25.940001,2.375
40,Afghanistan_2020,Afghanistan,2020,60.419998,55.520000,58.630001,29.049999,32.150002,42.700001,24.059999,31.510000,51.680000,35.230000,27.389999,26.959999,NaN

In [15]:
filtered_df.tail(10)

,crossid,Country name,year,Nutrition & Basic Medical Care,Water & Sanitation,Shelter,Personal Safety,Access to Basic Knowledge,Access to Information & Communications,Health & Wellness,Environmental Quality,Personal Rights,Personal Freedom & Choice,Inclusiveness,Access to Advanced Education,Life Ladder
9779,Zimbabwe_2013,Zimbabwe,2013,50.799999,58.570000,47.369999,42.799999,79.239998,33.150002,33.320000,58.889999,54.410000,56.480000,19.090000,27.080000,4.690
9780,Zimbabwe_2014,Zimbabwe,2014,54.240002,59.720001,49.910000,44.759998,80.290001,42.439999,34.549999,59.099998,58.060001,56.970001,21.230000,27.510000,4.184
9781,Zimbabwe_2015,Zimbabwe,2015,56.930000,60.680000,49.990002,45.009998,80.889999,56.189999,35.509998,59.080002,56.570000,57.099998,21.190001,28.100000,3.703
9782,Zimbabwe_2016,Zimbabwe,2016,58.810001,61.290001,48.000000,45.369999,79.120003,52.220001,37.000000,59.240002,56.570000,57.880001,21.860001,28.450001,3.735
9783,Zimbabwe_2017,Zimbabwe,2017,59.970001,62.459999,48.680000,45.529999,76.769997,51.220001,37.520000,59.000000,54.599998,57.830002,22.440001,29.330000,3.638
9784,Zimbabwe_2018,Zimbabwe,2018,61.090000,62.570000,51.549999,45.910000,76.980003,51.340000,37.950001,59.119999,57.099998,56.520000,24.090000,29.900000,3.616
9785,Zimbabwe_2019,Zimbabwe,2019,61.820000,62.580002,52.150002,45.150002,73.660004,53.790001,37.919998,59.529999,56.400002,57.049999,25.590000,30.990000,2.694
9786,Zimbabwe_2020,Zimbabwe,2020,62.480000,60.419998,51.820000,43.099998,75.459999,50.619999,37.060001,59.950001,55.340000,57.470001,25.770000,30.660000,3.160
9787,Zimbabwe_2021,Zimbabwe,2021,62.959999,61.000000,51.060001,43.320000,78.879997,56.080002,37.430000,60.200001,56.930000,57.139999,29.770000,31.920000,3.155
9788,Zimbabwe_2022,Zimbabwe,2022,63.230000,61.799999,52.410000,42.970001,79.559998,56.849998,37.639999,60.380001,56.200001,55.290001,27.240000,32.450001,3.296

In [16]:
# Check the unique values in the 'Country name' column
unique_country = filtered_df['Country name'].unique()
# Print the unique Country name
print("Unique Country name:", unique_country)
# Count the number of unique crossid
num_unique_country = len(unique_country)
print(f"\nTotal number of country involved: {num_unique_country}")

Unique Country name: ['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Ivory Coast'
 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo (Kinshasa)' 'Congo (Brazzaville)'
 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus'
 'Czechia' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'East Asia and Pacific' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Eurasia'
 'Europe and North America' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong S.A.R. of China'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland'
 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'North Korea' 'South Korea' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latin America and the Caribbean' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Macau' 'North Macedonia' 'Madagascar' 'Malawi' 'Malaysia'
 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius'
 'Mexico' 'Micronesia, Fed. Sts.' 'Middle East and North Africa' 'Moldova'
 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar'
 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Northern Mariana Islands' 'Norway' 'Oman'
 'Pakistan' 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Asia'
 'South Sudan' 'Spain' 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia'
 'St. Martin (French part)' 'St. Vincent and the Grenadines'
 'Sub-Saharan Africa' 'Sudan' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkiye' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Virgin Islands (U.S.)' 'West Bank and Gaza' 'World' 'Yemen'
 'Zambia' 'Zimbabwe']

Total number of country involved: 230

In [17]:
# Check the number of unique countries in df1 and df2 after corrections
unique_countries_df1 = df1['Country name'].nunique()
unique_countries_df2 = df2['Country name'].nunique()

print(f"Unique countries in df1 after corrections: {unique_countries_df1}")
print(f"Unique countries in df2 after corrections: {unique_countries_df2}")

# Check the number of unique countries in the merged dataset
unique_country_merged = filtered_df['Country name'].nunique()
print(f"Total number of countries involved after merge: {unique_country_merged}")

Unique countries in df1 after corrections: 230
Unique countries in df2 after corrections: 165
Total number of countries involved after merge: 230

In [18]:
# Get unique country names in the original df
original_countries1 = set(df1['Country name'].unique())
original_countries2 = set(df2['Country name'].unique())

# Get unique country names in the filtered (merged) dataset
merged_countries = set(filtered_df['Country name'].unique())

# Find all unique countries from both original datasets
all_original_countries = original_countries1.union(original_countries2)

# Identify removed countries
removed_countries = all_original_countries - merged_countries

# Print the removed countries and their count
print(f"Number of countries removed: {len(removed_countries)}")

for country in removed_countries:
    print(country)

Number of countries removed: 2
State of Palestine
Somaliland region

In [19]:
filtered_df.shape

(2791, 16)

In [20]:
# Check for missing values in the merged DataFrame
missing_values = filtered_df.isnull().sum()

# Display the count of missing values
print(missing_values)

crossid                                      0
Country name                                 0
year                                         0
Nutrition & Basic Medical Care             694
Water & Sanitation                         622
Shelter                                    634
Personal Safety                            845
Access to Basic Knowledge                  694
Access to Information & Communications     622
Health & Wellness                          845
Environmental Quality                      622
Personal Rights                            838
Personal Freedom & Choice                  826
Inclusiveness                              850
Access to Advanced Education               856
Life Ladder                               1080
dtype: int64

In [21]:
# Check for duplicates in 'crossid'
duplicates = filtered_df[filtered_df.duplicated(subset=['crossid'], keep=False)]
print(duplicates)

                    crossid      Country name  year  \
1998  Congo (Kinshasa)_2017  Congo (Kinshasa)  2017
1999  Congo (Kinshasa)_2018  Congo (Kinshasa)  2018
2000  Congo (Kinshasa)_2019  Congo (Kinshasa)  2019
2001  Congo (Kinshasa)_2020  Congo (Kinshasa)  2020
2002  Congo (Kinshasa)_2021  Congo (Kinshasa)  2021
...                     ...               ...   ...
9696             Yemen_2018             Yemen  2018
9697             Yemen_2019             Yemen  2019
9698             Yemen_2020             Yemen  2020
9699             Yemen_2021             Yemen  2021
9700             Yemen_2022             Yemen  2022

      Nutrition & Basic Medical Care  Water & Sanitation  Shelter  \
1998                             NaN                 NaN      NaN
1999                             NaN                 NaN      NaN
2000                             NaN                 NaN      NaN
2001                             NaN                 NaN      NaN
2002                             NaN                 NaN      NaN
...                              ...                 ...      ...
9696                             NaN                 NaN      NaN
9697                             NaN                 NaN      NaN
9698                             NaN                 NaN      NaN
9699                             NaN                 NaN      NaN
9700                             NaN                 NaN      NaN

      Personal Safety  Access to Basic Knowledge  \
1998              NaN                        NaN
1999              NaN                        NaN
2000              NaN                        NaN
2001              NaN                        NaN
2002              NaN                        NaN
...               ...                        ...
9696              NaN                        NaN
9697              NaN                        NaN
9698              NaN                        NaN
9699              NaN                        NaN
9700              NaN                        NaN

      Access to Information & Communications  Health & Wellness  \
1998                                     NaN                NaN
1999                                     NaN                NaN
2000                                     NaN                NaN
2001                                     NaN                NaN
2002                                     NaN                NaN
...                                      ...                ...
9696                                     NaN                NaN
9697                                     NaN                NaN
9698                                     NaN                NaN
9699                                     NaN                NaN
9700                                     NaN                NaN

      Environmental Quality  Personal Rights  Personal Freedom & Choice  \
1998                    NaN              NaN                        NaN
1999                    NaN              NaN                        NaN
2000                    NaN              NaN                        NaN
2001                    NaN              NaN                        NaN
2002                    NaN              NaN                        NaN
...                     ...              ...                        ...
9696                    NaN              NaN                        NaN
9697                    NaN              NaN                        NaN
9698                    NaN              NaN                        NaN
9699                    NaN              NaN                        NaN
9700                    NaN              NaN                        NaN

      Inclusiveness  Access to Advanced Education  Life Ladder
1998            NaN                           NaN        4.311
1999            NaN                           NaN          NaN
2000            NaN                           NaN          NaN
2001            NaN                           NaN          NaN
2002            NaN                           NaN          NaN
...             ...                           ...          ...
9696            NaN                           NaN        3.058
9697            NaN                           NaN        4.197
9698            NaN                           NaN          NaN
9699            NaN                           NaN          NaN
9700            NaN                           NaN        3.590

[150 rows x 16 columns]

In [22]:
# Check for missing values in 'Nutrition & Basic Medical Care' (or other relevant columns)
filtered_df['has_value'] = filtered_df[['Nutrition & Basic Medical Care']].notna().any(axis=1)

# Sort DataFrame to ensure rows with actual values (non-NaN) are prioritized
filtered_df.sort_values(by=['crossid', 'has_value'], ascending=[True, False], inplace=True)

# Drop duplicates, keeping the first row that has non-NaN values (based on 'has_value')
cleaned_final_df = filtered_df.drop_duplicates(subset=['crossid'], keep='first')

# Drop the helper column ('has_value') that was used for sorting
cleaned_final_df.drop(columns=['has_value'], inplace=True)

# Display the cleaned DataFrame without duplicates
print(cleaned_final_df)

               crossid Country name  year  Nutrition & Basic Medical Care  \
31    Afghanistan_2011  Afghanistan  2011                       50.349998
32    Afghanistan_2012  Afghanistan  2012                       52.220001
33    Afghanistan_2013  Afghanistan  2013                       53.759998
34    Afghanistan_2014  Afghanistan  2014                       54.759998
35    Afghanistan_2015  Afghanistan  2015                       55.009998
...                ...          ...   ...                             ...
9784     Zimbabwe_2018     Zimbabwe  2018                       61.090000
9785     Zimbabwe_2019     Zimbabwe  2019                       61.820000
9786     Zimbabwe_2020     Zimbabwe  2020                       62.480000
9787     Zimbabwe_2021     Zimbabwe  2021                       62.959999
9788     Zimbabwe_2022     Zimbabwe  2022                       63.230000

      Water & Sanitation    Shelter  Personal Safety  \
31             49.610001  29.059999        33.910000
32             51.340000  30.410000        33.450001
33             54.209999  32.810001        34.410000
34             56.410000  42.740002        34.840000
35             56.950001  45.740002        36.450001
...                  ...        ...              ...
9784           62.570000  51.549999        45.910000
9785           62.580002  52.150002        45.150002
9786           60.419998  51.820000        43.099998
9787           61.000000  51.060001        43.320000
9788           61.799999  52.410000        42.970001

      Access to Basic Knowledge  Access to Information & Communications  \
31                    27.670000                               24.850000
32                    27.740000                               24.340000
33                    27.860001                               30.090000
34                    27.660000                               31.219999
35                    28.590000                               32.130001
...                         ...                                     ...
9784                  76.980003                               51.340000
9785                  73.660004                               53.790001
9786                  75.459999                               50.619999
9787                  78.879997                               56.080002
9788                  79.559998                               56.849998

      Health & Wellness  Environmental Quality  Personal Rights  \
31            18.209999              31.500000        44.389999
32            20.209999              31.299999        44.389999
33            21.900000              31.080000        44.410000
34            23.090000              30.170000        46.130001
35            23.129999              30.020000        46.180000
...                 ...                    ...              ...
9784          37.950001              59.119999        57.099998
9785          37.919998              59.529999        56.400002
9786          37.060001              59.950001        55.340000
9787          37.430000              60.200001        56.930000
9788          37.639999              60.380001        56.200001

      Personal Freedom & Choice  Inclusiveness  Access to Advanced Education  \
31                    30.150000      30.020000                     21.719999
32                    30.540001      29.709999                     22.230000
33                    30.750000      28.480000                     22.379999
34                    31.320000      27.830000                     21.950001
35                    32.779999      28.730000                     23.280001
...                         ...            ...                           ...
9784                  56.520000      24.090000                     29.900000
9785                  57.049999      25.590000                     30.990000
9786                  57.470001      25.770000                     30.660000
9787                  57.139999      29.770000                     31.920000
9788                  55.290001      27.240000                     32.450001

      Life Ladder
31          3.832
32          3.783
33          3.572
34          3.131
35          3.983
...           ...
9784        3.616
9785        2.694
9786        3.160
9787        3.155
9788        3.296

[2716 rows x 16 columns]

C:\Users\yvonn\AppData\Local\Temp\ipykernel_4776\1351873308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['has_value'] = filtered_df[['Nutrition & Basic Medical Care']].notna().any(axis=1)
C:\Users\yvonn\AppData\Local\Temp\ipykernel_4776\1351873308.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.sort_values(by=['crossid', 'has_value'], ascending=[True, False], inplace=True)
C:\Users\yvonn\AppData\Local\Temp\ipykernel_4776\1351873308.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_final_df.drop(columns=['has_value'], inplace=True)

In [23]:
# Check again duplicates
duplicates = cleaned_final_df[cleaned_final_df.duplicated(subset=['crossid'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [crossid, Country name, year, Nutrition & Basic Medical Care, Water & Sanitation, Shelter, Personal Safety, Access to Basic Knowledge, Access to Information & Communications, Health & Wellness, Environmental Quality, Personal Rights, Personal Freedom & Choice, Inclusiveness, Access to Advanced Education, Life Ladder]
Index: []

In [24]:
# Extracting country name and year from 'crossid'
cleaned_final_df['Country'] = cleaned_final_df['crossid'].apply(lambda x: x.split('_')[0])
cleaned_final_df['Year'] = cleaned_final_df['crossid'].apply(lambda x: x.split('_')[1])

# Grouping by 'Country' and counting the number of rows for each
country_year_count = cleaned_final_df.groupby('Country').size()

# Filtering countries that do not have 12 rows
missing_years_countries = country_year_count[country_year_count != 12]

# Display the results
if missing_years_countries.empty:
    print("All countries have 12 rows from 2011 to 2022.")
else:
    print("The following countries do not have 12 rows from 2011 to 2022:")
    print(missing_years_countries)

The following countries do not have 12 rows from 2011 to 2022:
Country
East Asia and Pacific               6
Eurasia                             6
Europe and North America            6
Ivory Coast                        11
Latin America and the Caribbean     6
Middle East and North Africa        6
South Asia                          6
Sub-Saharan Africa                  6
Swaziland                          11
dtype: int64

C:\Users\yvonn\AppData\Local\Temp\ipykernel_4776\2340516229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_final_df['Country'] = cleaned_final_df['crossid'].apply(lambda x: x.split('_')[0])
C:\Users\yvonn\AppData\Local\Temp\ipykernel_4776\2340516229.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_final_df['Year'] = cleaned_final_df['crossid'].apply(lambda x: x.split('_')[1])

In [25]:
# Fix the range 2011-2022
countries_with_missing_rows = {
    'East Asia and Pacific': 6,
    'Eurasia': 6,
    'Europe and North America': 6,
    'Ivory Coast': 11,
    'Latin America and the Caribbean': 6,
    'Middle East and North Africa': 6,
    'South Asia': 6,
    'Sub-Saharan Africa': 6,
    'Swaziland': 11
}

# Define the full range of years
full_years = list(range(2011, 2023))

# Loop through each country with missing rows
for country, current_row_count in countries_with_missing_rows.items():
    # Filter the dataset for the current country
    country_data = cleaned_final_df[cleaned_final_df['Country name'] == country]
    
    # Find which years are missing
    missing_years = [year for year in full_years if year not in country_data['year'].values]
    
    # Create a dataframe for the missing rows
    missing_data = pd.DataFrame({
        'Country name': [country] * len(missing_years),
        'year': missing_years,
        'crossid': [f"{country}_{year}" for year in missing_years]  # Generate 'crossid'
    })
    
    # Add missing rows to the original dataframe
    cleaned_final_df = pd.concat([cleaned_final_df, missing_data], ignore_index=True)

# ensure 'crossid' is filled correctly for all rows with NaN
cleaned_final_df['crossid'] = cleaned_final_df.apply(
    lambda row: f"{row['Country name']}_{int(row['year'])}" if pd.isna(row['crossid']) else row['crossid'], axis=1
)

# Sort the dataframe by country name and year to maintain order
cleaned_final_df = cleaned_final_df.sort_values(by=['Country name', 'year']).reset_index(drop=True)

# Verify the result
print(cleaned_final_df[cleaned_final_df['Country name'].isin(countries_with_missing_rows.keys())])

                         crossid           Country name  year  \
696   East Asia and Pacific_2011  East Asia and Pacific  2011
697   East Asia and Pacific_2012  East Asia and Pacific  2012
698   East Asia and Pacific_2013  East Asia and Pacific  2013
699   East Asia and Pacific_2014  East Asia and Pacific  2014
700   East Asia and Pacific_2015  East Asia and Pacific  2015
...                          ...                    ...   ...
2359              Swaziland_2018              Swaziland  2018
2360              Swaziland_2019              Swaziland  2019
2361              Swaziland_2020              Swaziland  2020
2362              Swaziland_2021              Swaziland  2021
2363              Swaziland_2022              Swaziland  2022

      Nutrition & Basic Medical Care  Water & Sanitation  Shelter  \
696                              NaN                 NaN      NaN
697                              NaN                 NaN      NaN
698                              NaN                 NaN      NaN
699                              NaN                 NaN      NaN
700                              NaN                 NaN      NaN
...                              ...                 ...      ...
2359                             NaN                 NaN      NaN
2360                             NaN                 NaN      NaN
2361                             NaN                 NaN      NaN
2362                             NaN                 NaN      NaN
2363                             NaN                 NaN      NaN

      Personal Safety  Access to Basic Knowledge  \
696               NaN                        NaN
697               NaN                        NaN
698               NaN                        NaN
699               NaN                        NaN
700               NaN                        NaN
...               ...                        ...
2359              NaN                        NaN
2360              NaN                        NaN
2361              NaN                        NaN
2362              NaN                        NaN
2363              NaN                        NaN

      Access to Information & Communications  Health & Wellness  \
696                                      NaN                NaN
697                                      NaN                NaN
698                                      NaN                NaN
699                                      NaN                NaN
700                                      NaN                NaN
...                                      ...                ...
2359                                     NaN                NaN
2360                                     NaN                NaN
2361                                     NaN                NaN
2362                                     NaN                NaN
2363                                     NaN                NaN

      Environmental Quality  Personal Rights  Personal Freedom & Choice  \
696                     NaN              NaN                        NaN
697                     NaN              NaN                        NaN
698                     NaN              NaN                        NaN
699                     NaN              NaN                        NaN
700                     NaN              NaN                        NaN
...                     ...              ...                        ...
2359                    NaN              NaN                        NaN
2360                    NaN              NaN                        NaN
2361                    NaN              NaN                        NaN
2362                    NaN              NaN                        NaN
2363                    NaN              NaN                        NaN

      Inclusiveness  Access to Advanced Education  Life Ladder    Country  \
696             NaN                           NaN          NaN        NaN
697             NaN                           NaN          NaN        NaN
698             NaN                           NaN          NaN        NaN
699             NaN                           NaN          NaN        NaN
700             NaN                           NaN          NaN        NaN
...             ...                           ...          ...        ...
2359            NaN                           NaN          NaN  Swaziland
2360            NaN                           NaN          NaN  Swaziland
2361            NaN                           NaN          NaN  Swaziland
2362            NaN                           NaN          NaN  Swaziland
2363            NaN                           NaN          NaN  Swaziland

      Year
696    NaN
697    NaN
698    NaN
699    NaN
700    NaN
...    ...
2359  2018
2360  2019
2361  2020
2362  2021
2363  2022

[108 rows x 18 columns]

In [26]:
# Drop any additional or unnecessary columns
columns_to_drop = ['Country', 'Year']  
cleaned_final_df = cleaned_final_df.drop(columns=columns_to_drop)

# Sort the dataframe by country name and year to maintain order
cleaned_final_df = cleaned_final_df.sort_values(by=['Country name', 'year']).reset_index(drop=True)

# Verify the result
print(cleaned_final_df[cleaned_final_df['Country name'].isin(countries_with_missing_rows.keys())])

                         crossid           Country name  year  \
696   East Asia and Pacific_2011  East Asia and Pacific  2011
697   East Asia and Pacific_2012  East Asia and Pacific  2012
698   East Asia and Pacific_2013  East Asia and Pacific  2013
699   East Asia and Pacific_2014  East Asia and Pacific  2014
700   East Asia and Pacific_2015  East Asia and Pacific  2015
...                          ...                    ...   ...
2359              Swaziland_2018              Swaziland  2018
2360              Swaziland_2019              Swaziland  2019
2361              Swaziland_2020              Swaziland  2020
2362              Swaziland_2021              Swaziland  2021
2363              Swaziland_2022              Swaziland  2022

      Nutrition & Basic Medical Care  Water & Sanitation  Shelter  \
696                              NaN                 NaN      NaN
697                              NaN                 NaN      NaN
698                              NaN                 NaN      NaN
699                              NaN                 NaN      NaN
700                              NaN                 NaN      NaN
...                              ...                 ...      ...
2359                             NaN                 NaN      NaN
2360                             NaN                 NaN      NaN
2361                             NaN                 NaN      NaN
2362                             NaN                 NaN      NaN
2363                             NaN                 NaN      NaN

      Personal Safety  Access to Basic Knowledge  \
696               NaN                        NaN
697               NaN                        NaN
698               NaN                        NaN
699               NaN                        NaN
700               NaN                        NaN
...               ...                        ...
2359              NaN                        NaN
2360              NaN                        NaN
2361              NaN                        NaN
2362              NaN                        NaN
2363              NaN                        NaN

      Access to Information & Communications  Health & Wellness  \
696                                      NaN                NaN
697                                      NaN                NaN
698                                      NaN                NaN
699                                      NaN                NaN
700                                      NaN                NaN
...                                      ...                ...
2359                                     NaN                NaN
2360                                     NaN                NaN
2361                                     NaN                NaN
2362                                     NaN                NaN
2363                                     NaN                NaN

      Environmental Quality  Personal Rights  Personal Freedom & Choice  \
696                     NaN              NaN                        NaN
697                     NaN              NaN                        NaN
698                     NaN              NaN                        NaN
699                     NaN              NaN                        NaN
700                     NaN              NaN                        NaN
...                     ...              ...                        ...
2359                    NaN              NaN                        NaN
2360                    NaN              NaN                        NaN
2361                    NaN              NaN                        NaN
2362                    NaN              NaN                        NaN
2363                    NaN              NaN                        NaN

      Inclusiveness  Access to Advanced Education  Life Ladder
696             NaN                           NaN          NaN
697             NaN                           NaN          NaN
698             NaN                           NaN          NaN
699             NaN                           NaN          NaN
700             NaN                           NaN          NaN
...             ...                           ...          ...
2359            NaN                           NaN          NaN
2360            NaN                           NaN          NaN
2361            NaN                           NaN          NaN
2362            NaN                           NaN          NaN
2363            NaN                           NaN          NaN

[108 rows x 16 columns]

In [27]:
# Check for missing values in the merged DataFrame
missing_values = cleaned_final_df.isnull().sum()

# Display the count of missing values
print(missing_values)

crossid                                      0
Country name                                 0
year                                         0
Nutrition & Basic Medical Care             663
Water & Sanitation                         591
Shelter                                    603
Personal Safety                            814
Access to Basic Knowledge                  663
Access to Information & Communications     591
Health & Wellness                          814
Environmental Quality                      591
Personal Rights                            807
Personal Freedom & Choice                  795
Inclusiveness                              819
Access to Advanced Education               825
Life Ladder                               1114
dtype: int64

In [28]:
# Export the DataFrame to a CSV file
csv_file_path = 'SIandHappiness.csv'
cleaned_final_df.to_csv(csv_file_path, index=False)

print(f'DataFrame successfully exported to {csv_file_path}')

DataFrame successfully exported to SIandHappiness.csv